# cache / temp files
__pycache__/
.mypy_cache/
.ruff_cache/
.pytest_cache/
tmp/

# coverage tests
.coverage
htmlcov/

# venvs
.venv/
uv.lock

# documentation
docs/build/html/*
!docs/build/html/.gitkeep
.~lock*
