# cache / temp files
__pycache__/
.mypy_cache/
.ruff_cache/
.pytest_cache/
tmp/

# IDE dependant files
.vscode

# coverage tests
.coverage
htmlcov/

# venvs
.venv/
uv.lock

# documentation
docs/build/html/*
!docs/build/html/.gitkeep
docs/external/*
!docs/external/.gitkeep
.~lock*

# Personal notes
.obsidian/
